creds.txt

.env

output
output/*

system_monitor/output
system_monitor/output/*

yt_descriptions
yt_descriptions/*

node_modules

package-lock.json

replays.json
replays.db

tmp
tmp2

__pycache__
*.pyc
notes.txt
scripts/cleanup_delete_list.txt
scripts/cleanup_keeplist_delete_list.txt
